* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.search {
    background-color: white;
    border: 2px solid;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: black;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px black;
    background-color: red;
    position: relative;
    overflow: hidden;
}

.movie img {
    width: 100%;
}

.movie_info {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie_info h3 {
    margin-top: 0;
}

.movie_info {
    background-color: grey;
    color: black;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
    height: 100%;
    font-size: 20px;
}

.movie_info span.green {
    color: green
}

.movie_info span.orange {
    color: orange;
}

.movie_info span.red {
    color: red;
}

.modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal div {
    background-color: #fff;
    padding: 20px;
    max-width: 1000px;
    max-height: 800px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.modal img {
    max-width: 400px;
    height: 100%;
    margin-right: 20px;
    gap: 50px;
}

.modal button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 530px;
    height: 328px;
}
